@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #a682ff;
    --dark-acccent-color: #7559bb;
    --background-color: #ebebeb;
    --dark-text-color: #545454;
    --light-text-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--dark-text-color);
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.title {
    font-family: monospace;
}

.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

@keyframes flashin-border {

    0%,
    100% {
        border-color: var(--accent-color);
    }

    50% {
        border-color: transparent;
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}


/* Intro block styles */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    height: 100vh;
    transition: all 0.4s ease-in-out;
}

.intro__image-container {
    width: 450px;
    height: 450px;
}

.intro__avatar {
    border: 1em solid var(--accent-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: all 0.3s ease;
}

.intro__avatar:hover {
    box-shadow: 0 0 20px var(--box-shadow-color);
    border-color: var(--dark-acccent-color);
}

.intro__text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    gap: 1em;
}

.intro__title {
    width: 15ch;
    overflow: hidden;
    font-size: 4rem;
    white-space: nowrap;
    border-right: 4px solid var(--accent-color);
    animation: printed-text 5s steps(15), flashin-border .75s step-start infinite;
}

.intro__subtitle {
    font-size: 2rem;
}

.intro__highlight {
    color: var(--accent-color);
    font-weight: 800;
}

.intro__description {
    font-size: 1rem;
}

.intro__contact-info {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
}

.intro__link i {
    font-size: 1.5rem;
    color: var(--accent-color);
    transition: all 0.4s ease-in-out;
}

.intro__link i:hover {
    color: var(--dark-acccent-color);
    transform: translate(0, -5px) scale(1.1);
}


/* Education block styles */
.education {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    text-align: center;
    gap: 2em;
}

.education__title {
    font-size: 3rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline__line {
    width: 100%;
    height: 14px;
    background-color: var(--accent-color);
    position: relative;
    border-radius: 20px;
}

.timeline__circle {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.timeline__event {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin-top: 2em;
}

.timeline__text {
    width: calc(100% / 3);
    font-size: 1rem;
    text-align: center;
}

.gallery {
    display: grid;
    grid-gap: 5px;
}

.gallery {
    grid-template-columns: 1.52fr 1fr 1fr 1.525fr;
    grid-template-rows: 0.4fr 0.5fr;
    grid-template-areas: 'A  B  C  E' 'A  D  D  E';
}

.gallery-item:nth-child(1) {
    grid-area: A;
}

.gallery-item:nth-child(2) {
    grid-area: B;
}

.gallery-item:nth-child(3) {
    grid-area: C;
}

.gallery-item:nth-child(4) {
    grid-area: D;
}

.gallery-item:nth-child(5) {
    grid-area: E;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.gallery-item {
    cursor: pointer;
    flex: 1 0 24rem;
    box-shadow: 0.3rem 0.4rem 0.4rem var(--box-shadow-color);
    overflow: hidden;
}

.gallery-item img:hover {
    opacity: .9;
    transform: scale(1.15);
}