@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #a682ff;
    --dark-acccent-color: #7559bb;
    --background-color: #ebebeb;
    --dark-text-color: #545454;
    --light-text-color: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    color: var(--dark-text-color);
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

.title {
    font-family: monospace;
}

.container {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

@keyframes flashin-border {

    0%,
    100% {
        border-color: var(--accent-color);
    }

    50% {
        border-color: transparent;
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}


/* Intro block styles */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    height: 100vh;
    transition: all 0.4s ease-in-out;
}

.intro__image-container {
    width: 450px;
    height: 450px;
}

.intro__avatar {
    border: 1em solid var(--accent-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--box-shadow-color);
    transition: all 0.3s ease;
}

.intro__avatar:hover {
    box-shadow: 0 0 20px var(--box-shadow-color);
    border-color: var(--dark-acccent-color);
}

.intro__text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: center;
    gap: 1em;
}

.intro__title {
    width: 15ch;
    overflow: hidden;
    font-size: 4rem;
    white-space: nowrap;
    border-right: 4px solid var(--accent-color);
    animation: printed-text 5s steps(15), flashin-border .75s step-start infinite;
}

.intro__subtitle {
    font-size: 2rem;
}

.intro__highlight {
    color: var(--accent-color);
    font-weight: 800;
}

.intro__description {
    font-size: 1rem;
}

.intro__contact-info {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
}

.intro__link i {
    font-size: 1.5rem;
    color: var(--accent-color);
    transition: all 0.4s ease-in-out;
}

.intro__link i:hover {
    color: var(--dark-acccent-color);
    transform: translate(0, -5px) scale(1.1);
}